<html>
<head>
    <%- include(global.appRoot + '/views/templates/global/header.ejs') %>
</head>
<body data-bs-theme="<%= global.theme %>">
<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <a href="." class="navbar-brand navbar-brand-autodark"><img src="/images/logo.png" height="74" alt=""></a>
        </div>
        <form class="card card-md" action="/auth/register" method="POST" autocomplete="off" novalidate="">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Crea nuovo account</h2>
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control" placeholder="Inserisci l'username" name="username">
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" placeholder="Inserisci l'email" name="email">
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <div class="input-group input-group-flat">
                        <input type="password" id="passwordInput" class="form-control"
                               placeholder="Inserisci la password" autocomplete="off" name="password">
                        <span class="input-group-text">
                  <a href="#" class="link-secondary" data-bs-toggle="tooltip" aria-label="Show password"
                     data-bs-original-title="Mostra password" id="mostra_nascondi_psw"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                                d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path><path
                                d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"></path></svg>
                  </a>
                </span>
                    </div>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">Crea nuovo account</button>
                </div>
            </div>
        </form>
        <div class="text-center text-muted mt-3">
            Sei già registrato? <a href="/auth/login" tabindex="-1">Login</a>
        </div>
    </div>
</div>
<script>
    $('#mostra_nascondi_psw').on('click', function () {
        var input = $('#passwordInput');
        input.attr('type') === 'password' ? input.attr('type', 'text') : input.attr('type', 'password');
    });
</script>
<%- include(global.appRoot + '/views/templates/global/footer.ejs') %>
</body>
</html>